<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base th:href="@{/}">
    <title>高校招生计划可视化系统</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="vendors/datepicker/daterangepicker.css">

    <!-- Vmap -->
    <link rel="stylesheet" href="vendors/vmap/jqvmap.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <style type="text/css">
        /* 展示大屏布局 */
        #byarea{
            height:420px;
           
            position:relative;

        }
        #byprovince{
            position:relative;
            height:550px;         
            width: 720px;
            top: 10px;
            left: 50px;
           

        }

        #topnmax{
            height:280px;
                     
        }
        #topnmin{
            height:280px;
        }
      </style>
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->

<!-- begin::header -->
<div class="header">

    <div>
        <ul class="navbar-nav">

            <!-- begin::navigation-toggler -->
            <li class="nav-item navigation-toggler">
                <a href="#" class="nav-link" title="Hide navigation">
                    <i data-feather="arrow-left"></i>
                </a>
            </li>
            <li class="nav-item navigation-toggler mobile-toggler">
                <a href="#" class="nav-link" title="Show navigation">
                    <i data-feather="menu"></i>
                </a>
            </li>
            <!-- end::navigation-toggler -->


        </ul>
    </div>

    <div>
        <ul class="navbar-nav">

            <!-- begin::header search -->
            <li class="nav-item">
                <a href="#" class="nav-link" title="搜索" data-toggle="dropdown">
                    <i data-feather="search"></i>
                </a>
                <div class="dropdown-menu p-2 dropdown-menu-right">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="搜索">
                            <div class="input-group-prepend">
                                <button class="btn" type="button">
                                    <i data-feather="search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <!-- end::header search -->

            <!-- begin::header minimize/maximize -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" title="全屏" data-toggle="fullscreen">
                    <i class="maximize" data-feather="maximize"></i>
                    <i class="minimize" data-feather="minimize"></i>
                </a>
            </li>
            <!-- end::header minimize/maximize -->

        </ul>

        <!-- begin::mobile header toggler -->
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
                <a href="#" class="nav-link">
                    <i data-feather="arrow-down"></i>
                </a>
            </li>
        </ul>
        <!-- end::mobile header toggler -->
    </div>

</div>
<!-- end::header -->

<!-- begin::main -->
<div id="main">

    <!-- begin::navigation -->
    <div class="navigation">

        <div class="navigation-menu-tab">
            <div>
                <div class="navigation-menu-tab-header" data-toggle="tooltip" title="花木兰" data-placement="right">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                        <figure class="avatar avatar-sm">
                            <img src="assets/media/image/user/women_avatar1.jpg" class="rounded-circle" alt="avatar">
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-3 text-center" data-backround-image="assets/media/image/image1.jpg">
                            <figure class="avatar mb-3">
                                <img src="assets/media/image/user/women_avatar1.jpg" class="rounded-circle" alt="image">
                            </figure>
                            <h6 class="d-flex align-items-center justify-content-center">
                                花木兰
                                <a href="user/toProfile" class="btn btn-primary btn-sm ml-2" data-toggle="tooltip" title="编辑个人资料">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </h6>
                            <small>等级: <strong>珀金</strong></small>
                        </div>
                        <div class="dropdown-menu-body">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item">个人中心</a>
                                <a href="#" class="list-group-item d-flex">
                                    收件箱 <span class="text-muted ml-auto">18</span>
                                </a>
                                <a href="#" class="list-group-item" data-sidebar-target="#settings">帮助中心</a>
                                <a href="/user/login.html" class="list-group-item text-danger" data-sidebar-target="#settings">登出</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1">
                <ul>
                    <li>
                        <a class="active" href="#" data-toggle="tooltip" data-placement="right" title="展示大屏"
                           data-nav-target="#bigscreen">
                            <i data-feather="bar-chart-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="分析查询" data-nav-target="#myquery">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="个人中心"
                           data-nav-target="#mycenter">
                            <i data-feather="layers"></i>
                        </a>
                    </li>
 
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="设置" data-nav-target="#settings">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="user/login.html" data-toggle="tooltip" data-placement="right" title="登出">
                            <i data-feather="log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- begin::navigation menu -->
        <div class="navigation-menu-body">

            <!-- begin::navigation-logo -->
            <div>
                <div id="navigation-logo">
                    <a href="index.html">
                        <img class="logo" src="assets/media/image/logo.png" alt="logo">
                        <img class="logo-light" src="assets/media/image/logo-light.png" alt="light logo">
                    </a>
                </div>
            </div>
            <!-- end::navigation-logo -->

            <div class="navigation-menu-group">

                <div class="open" id="bigscreen">
                    <ul>
                        <li class="navigation-divider">展示大屏</li>                   
                        <li><a class="active" href="index.html">综合展示大屏</a></li>
                        
                    </ul>
                </div>
                <div id="myquery">
                    <ul>
                        <li class="navigation-divider">分析查询</li>
                        <li>
                            <a href="query/myquery.html">
                                <span>综合查询</span>
                            </a>
                        </li>
                        <li>
                            <a href="query/topnmax-index.html">
                                <span>热门专业</span>
                            </a>
                        </li>
                        <li>
                            <a href="query/topnmin-index.html">
                                <span>冷门专业</span>
                            </a>
                        </li>
                        <li>
                            <a href="query/byarea.html">
                                <span>区域统计</span>
                            </a>
                        </li>
                    </ul>
 
                </div>
                <div id="mycenter">
                    <ul>
                        <li class="navigation-divider">个人中心</li>
                        <li><a href="myprofile.html">我的资料</a></li>
                        <li><a href="changepwd.html">修改密码</a></li>
                    </ul>
                </div>
                <div id="settings">
                    <ul>
                        <li class="navigation-divider">设置</li>                     
                        <li><a href="globalset.html">全局设置</a></li>                                                    
                    </ul>
                </div>
            </div>
        </div>
        <!-- end::navigation menu -->

    </div>
    <!-- end::navigation -->

    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::page-header -->
        <div class="page-header">
            <div class="container-fluid d-sm-flex justify-content-between">
                <h4>招生统计数据综合展示大屏</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">首页</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">展示大屏</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end::page-header -->


        <!-- begin::page content -->
        <div class="container-fluid">

            <div class="row app-block">
                <div class="col-md-12 app-content">

                    <div class="card app-content-body">

                        <div class="card-body">                         
                            <div class="row">

                                <div id="big_screen_container">
                                      <!-- 各省招生计划-->
                                    <div id='byprovince'></div>          
                                    
                                    <!-- 热门专业Top10-->
                                        
                                    <div id='topnmax'></div>
                                       
                                         <!-- 冷门专业Top10-->                                      
                                    <div id='topnmin'></div> 
                                       
                                   
                                      <!--学生来源展示-->
                                    <div id='byarea' ></div>



                                </div>
                             
                            </div> 

                        </div>

                    </div>
                                      
                </div>
            </div>

            <span id="areaPlanData" th:text="${areaPlanData}" style="display: none"></span>
            <script>
                var areaPlanData = $("#areaPlanData")
                console.log(areaPlanData)
            </script>
        </div>
        <!-- end::page content -->

        <!-- begin::footer -->
        <footer>
            <div class="container-fluid">
                <div>© 2022 高校招生统计分析可视化系统 v1.0.0 Made for <a href="#">Demo</a></div>
                <div>
                    <nav class="nav">
                        <a href="" class="nav-link">免责声明</a>
                        <a href="#" class="nav-link">帮助中心</a>
                    </nav>
                </div>
            </div>
        </footer>
        <!-- end::footer -->

    </div>
    <!-- end::main-content -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- Chartjs -->
<script src="vendors/charts/chartjs/chart.min.js"></script>

<!-- Apex chart -->
<script src="vendors/charts/apex/apexcharts.min.js"></script>

<!-- Circle progress -->
<script src="vendors/circle-progress/circle-progress.min.js"></script>

<!-- Peity -->
<script src="vendors/charts/peity/jquery.peity.min.js"></script>
<script src="assets/js/examples/charts/peity.js"></script>

<!-- Datepicker -->
<script src="vendors/datepicker/daterangepicker.js"></script>

<!-- Slick -->
<script src="vendors/slick/slick.min.js"></script>

<!-- Vamp -->
<script src="vendors/vmap/jquery.vmap.min.js"></script>
<script src="vendors/vmap/maps/jquery.vmap.usa.js"></script>
<script src="assets/js/examples/vmap.js"></script>

<!-- Dashboard scripts -->
<script src="assets/js/examples/dashboard.js"></script>
<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>


<!-- App scripts -->
<script src="assets/js/app.js"></script>
<!-- echarts script begin-->
<script src="echarts/dist/echarts.min.js"></script>
<script src="echarts/theme/china.js"></script>
<script src="echarts/theme/mytheme.js"></script>

<script src="assets/js/jquery.js"></script>

<!-- echarts script end-->

<script type="text/javascript">
    var area_dom = document.getElementById("byarea");
    var areaChart = echarts.init(area_dom);
    var app = {};
    option = null;
    option = {
         title: {
             text: '学生来源分析',
             subtext: '2016年招生计划',
             left: 'center'
         },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            left: 'center',
            top: 'bottom',
            data: ['东北', '华东', '华中', '华北', '华南', '西北', '西南']
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
              
                magicType: {
                    show: true,
                    type: ['pie', 'funnel']
                },

            }
        },
        series: [
            {
                name: '学生来源',
                type: 'pie',
                radius: [10, 100],
                center: ['50%', '40%'],
                roseType: 'area',
               // data: "${areaPlanData}"
            }
        ]
    };

    if (option && typeof option === "object") {
        areaChart.setOption(option, true);
    }
</script>

<!--地图方式显示各省招生数据-->
<script type="text/javascript">
var dombyprovince = document.getElementById("byprovince");
var provinceChart = echarts.init(dombyprovince);

var name_title = "全国高校2016年各省市计划招生人数"
// 使用中国地图
var mapName = 'china'
//要在地图上展示的数据
var data = [
{name:"北京",value:35215},
{name:"天津",value:42196},
{name:"河北",value:182752},
{name:"山西",value:152778},
{name:"内蒙古",value:101587},
{name:"辽宁",value:103951},
{name:"吉林",value:84272},
{name:"黑龙江",value:109318},
{name:"上海",value:16676},
{name:"江苏",value:195147},
{name:"浙江",value:204328},
{name:"安徽",value:359881},
{name:"福建",value:107600},
{name:"江西",value:99041},
{name:"山东",value:310095},
{name:"河南",value:307224},
{name:"湖北",value:205796},
{name:"湖南",value:174918},
{name:"重庆",value:105275},
{name:"四川",value:260928},
{name:"贵州",value:163191},
{name:"云南",value:108113},
{name:"西藏",value:0},
{name:"陕西",value:150579},
{name:"甘肃",value:106798},
{name:"青海",value:19532},
{name:"宁夏",value:40113},
{name:"新疆",value:46919},
{name:"广东",value:345315},
{name:"广西",value:152496},
{name:"海南",value:36668}
];

var geoCoordMap = {};


/*获取地图数据*/
provinceChart.showLoading();
var mapFeatures = echarts.getMap(mapName).geoJson.features;
provinceChart.hideLoading();
mapFeatures.forEach(function(v) {
// 地区名称
var name = v.properties.name;
// 地区经纬度
geoCoordMap[name] = v.properties.cp;


});

//convertData函数，组装在地图上展示的数据，包含省份的经纬度坐标和业务数据。
var convertData = function(data) {
var res = [];
for (var i = 0; i < data.length; i++) {
    var geoCoord = geoCoordMap[data[i].name];
    if (geoCoord) {
        res.push({
            name: data[i].name,
            value: geoCoord.concat(data[i].value),
        });
    }
}

return res;
};
optionProvince = {
 title: {
     text: name_title,
 
     x: 'center'
 },
//tooltip，提示框显示内容
tooltip: {
    trigger: 'item',
    formatter: function(params) {

            var toolTiphtml = ''
            for(var i = 0;i<data.length;i++){
                if(params.name==data[i].name){
                    
                   
                        toolTiphtml+=data[i].name+':'+data[i].value+"<br>"
                    
                }
            }

            return toolTiphtml;
        
    }
},
//visualMap，视觉组件
visualMap: {
    show: true,
    min: 0,
    max: 200,
    left: 'left',
    top: 'bottom',
    text: ['高', '低'], // 文本，默认为数值文本
    calculable: true,
    seriesIndex: [1],
    inRange: {
        // color: ['#3B5077', '#031525'] // 蓝黑
        // color: ['#ffc0cb', '#800080'] // 红紫
        // color: ['#3C3B3F', '#605C3C'] // 黑绿
        // color: ['#0f0c29', '#302b63', '#24243e'] // 黑紫黑
        // color: ['#23074d', '#cc5333'] // 紫红
        color: ['#00467F', '#A5CC82'] // 蓝绿
        // color: ['#1488CC', '#2B32B2'] // 浅蓝
        // color: ['#00467F', '#A5CC82'] // 蓝绿
        // color: ['#00467F', '#A5CC82'] // 蓝绿
        // color: ['#00467F', '#A5CC82'] // 蓝绿
        // color: ['#00467F', '#A5CC82'] // 蓝绿

    }
},
//geo，地理坐标系组件
geo: {
    show: true,
    map: mapName,
    label: {
        normal: {
            show: false
        },
        emphasis: {
            show: false,
        }
    },
    roam: true,
    itemStyle: {
        normal: {
            areaColor: '#031525',
            borderColor: '#3B5077',
        },
        emphasis: {
            areaColor: '#2B91B7',
        }
    }
},
series: [{//显示地图上各个省份坐标点，坐标点大小与招生人数成比例设置。
        name: '散点',
        type: 'scatter',
        coordinateSystem: 'geo',
        data: convertData(data),
        symbolSize: function(val) {
            return val[2] / 10000+2;//显示大小最小为2
        },
        label: {
            normal: {
                formatter: '{b}',//数据项的名称，这里是省份名
                position: 'right',
                show: true
            },
            emphasis: {
                show: true
            }
        },
        itemStyle: {
            normal: {
                color: '#05C3F9'
            }
        }
    },
    {//地图显示
        type: 'map',
        map: mapName,//显示中国地图
        geoIndex: 0,
        aspectScale: 0.75, //用于 scale 地图的长宽比
        showLegendSymbol: false, // 存在legend时显示
        label: {
            normal: {
                show: true
            },
            emphasis: {
                show: false,
                textStyle: {
                    color: '#fff'
                }
            }
        },
        roam: true,
        itemStyle: {
            normal: {
                areaColor: '#031525',
                borderColor: '#3B5077',
            },
            emphasis: {
                areaColor: '#2B91B7'
            }
        },
        animation: false,//是否开启动画
        data: data
    },
    {//以气泡的形式显示各省招生计划的值
        name: '点',
        type: 'scatter',
        coordinateSystem: 'geo',
        symbol: 'pin', //气泡
        symbolSize: function(val) {
           //将数据缩小，但保证最小气泡至少为20
            return val[2]/10000 + 20;
        },
        label: {
            normal: {
                formatter: function(a){return a.value[2];} ,//气泡上显示招生数 a.name是省份名，a.value是数组包含经度，维度，用户数据
                show: true,
                textStyle: {
                    color: '#fff',
                    fontSize: 8,
                }
            }
        },
        itemStyle: {
            normal: {
                color: '#F62157', //标志颜色
            }
        },
        zlevel: 6,
        data:convertData(data),//省份名，经度纬度，用户数据
    },
    {//显示招生前5的省份。
        name: 'Top 5',
        type: 'effectScatter',
        coordinateSystem: 'geo',
         //对数组排序，截取前五个数组对象
        data: convertData(data.sort(function(a, b) {
            return b.value - a.value;
        }).slice(0, 5)),
        symbolSize: function(val) {
            return val[2] / 10000;
        },
        showEffectOn: 'render',
        rippleEffect: {
            brushType: 'stroke'
        },
        hoverAnimation: true,
        label: {
            normal: {
                formatter: '{b}',
                position: 'right',
                show: true
            }
        },
        itemStyle: {
            normal: {
                color: 'yellow',
                shadowBlur: 10,
                shadowColor: 'yellow'
            }
        },
        zlevel: 1
    },

]
};
provinceChart.setOption(optionProvince);
       </script>

<!-- 热门专业显示 -->

<script type="text/javascript">
    var dom_topn_max = document.getElementById("topnmax");
    //var topNMaxChart = echarts.init(dom_topn_max,"mytheme");
    var topNMaxChart = echarts.init(dom_topn_max);
    var app = {};
    option = null;
    option = {
       title: [{
       left: 'center',
       text: '招生最多的专业top 10'
   }],
      grid: {
        left: "3%",
        right: "4%",
        bottom: "3%",
        containLabel: true
      },
      yAxis: {
        type: "category",
        data: [
          "国际经济与贸易",
          "护理",
          "法学",
          "电气工程及其自动化",
          "财务管理",
          "土木工程",
          "计算机科学与技术",
          "会计(会计电算化)",
          "英语",
          "会计学",
        ],
      },
      xAxis: {
        type: "value",
      },
      series: [
        {
          data: [
            54814,
            57507,
            59041,
            61506,
            64951,
            66319,
            66463,
            78128,
            82535,
            86568,
          ],
          type: "bar",
          label: {
            show: true,
            position: "right",
          },
        },
      ],
    };
    if (option && typeof option === "object") {
        topNMaxChart.setOption(option, true);
    }
  </script>
<!-- 冷门专业显示 -->
<script type="text/javascript">
    var dom_topn_min = document.getElementById("topnmin");
    //var topn_min_Chart = echarts.init(dom_topn_min,'mytheme');
    var topn_min_Chart = echarts.init(dom_topn_min);
    var app = {};
    option = null;
    option = {
       title: [{
       left: 'center',
       text: '招生最少的专业top 10'
   }],
      grid: {
        left: "3%",
        right: "4%",
        bottom: "3%",
        containLabel: true
      },
      yAxis: {
        type: "category",
        data: [
          "儿童康复",
          "煤质分析技术",
          "矿山安全技术与监察",
          "森林消防(森林防火指挥与通讯)",
          "固体矿床露天开采技术",
          "科技成果中介服务",
          "全球健康学",
          "大气探测技术",
          "乐器制造技术",
          "会宗教学计学",
        ],
      },
      xAxis: {
        type: "value",
      },
      series: [
        {
          data: [
            2,
            2,
            2,
            2,
            2,
            2,
            1,
            1,
            1,
            1,
          ],
          type: "bar",
          label: {
            show: true,
            position: "right",
          },
        },
      ],
    };
    if (option && typeof option === "object") {
        topn_min_Chart.setOption(option, true);
    }
  </script>
</body>
</html>