<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base th:href="@{/}">

    <title>高校招生计划可视化系统</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
</head>
<body class="form-membership">

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->

<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img class="logo" src="assets/media/image/logo.png" alt="image" height="150" width="150">
        <img class="logo-dark" src="assets/media/image/logo-dark.png" alt="image">
    </div>
    <!-- ./ logo -->

    <h5>注册新用户</h5>

    <!-- form -->
    <form action="user/toRegister" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="用户名" required autofocus>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="realName" placeholder="真实姓名" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="pwd" placeholder="密码" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="repwd" placeholder="再次输入密码" required>
        </div>
        <button class="btn btn-primary btn-block">注册</button>
        <hr>
        <p class="text-muted">已有账号?</p>
        <a href="./login.html" class="btn btn-outline-light btn-sm">登陆!</a>
    </form>
    <!-- ./ form -->

</div>
<script th:inline="javascript">
    var pwdStatus = [[${pwdStatus}]];
    if (pwdStatus === 'error') {
        alert("两次密码输入不一致")
    }
    var nameStatus = [[${nameStatus}]];
    if (nameStatus === 'error') {
        alert("用户名重复")
    }
</script>

<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- App scripts -->
<script src="assets/js/app.js"></script>
</body>
</html>